body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
}

#secret-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00ffcc;
    /* Vert néon façon hacker */
    text-align: center;
    z-index: 1;
}

h1 {
    font-size: 3rem;
    margin: 10px 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    touch-action: none;
    /* Empêche le scroll pendant qu'on joue */
}